body {
  font-family: 'lato', sans-serif;
}
/* 
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
} */

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
}

.statsButton {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  border: 0px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  :hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px,
      rgb(195 231 202) 0px 0px 0px 3px;
  }
  margin-left: 10px;
}
/* Main Container Styling */
.device-list-container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Title Styling */
.title {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
  font-size: 1.8em;
  letter-spacing: 1px;
}

/* User Info Styling */
.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 1em;
  color: #555;
}

/* User Info Button Styling */
.user-info button {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 10px;
  background: #f10842;
  line-height: 1.15;
  font-size: 16px;
}

.user-info button:hover {
  background-color: #8f0606;
  transition: all 0.5s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #ec0b16;
}

/* Form Styling */
.register-form,
.create-group-form,
.add-to-group-form {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form input,
.create-group-form input,
.add-to-group-form select {
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 80%;
}

/* Control Buttons Styling */
.control-buttons {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.control-buttons button {
  background-color: #1e88e5;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.control-buttons button:hover {
  background-color: #1520c0;
}
.stats-options {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */
}

@media screen and (max-width: 768px) {
  .stats-options > * {
    width: 100%; /* Full width for each control */
    margin-bottom: 10px; /* Space out the controls */
  }
}
.stats-chart-container {
  width: 100%; /* Adjust as necessary */
}

/* Table Styling */

/* More Button Styling */

/* Responsive Design */
@media screen and (max-width: 768px) {
  .user-info,
  .control-buttons,
  .register-form,
  .create-group-form,
  .add-to-group-form {
    flex-direction: column;
  }

  .user-info button,
  .control-buttons button {
    width: 100%;
    margin-top: 10px;
  }

  .register-form input,
  .create-group-form input,
  .add-to-group-form select {
    width: 100%;
  }

  .device-table,
  .stats-table {
    width: 100%;
  }
}
.group-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.group-detail-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #eef2f5;
  border-radius: 6px;
}

.group-name {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.group-section {
  margin-top: 10px;
}

.integrator-list,
.worker-list {
  list-style: none;
  padding: 0;
}

.integrator-item,
.worker-item {
  background-color: #f7f9fb;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 4px;
}
.register-button {
  display: block; /* Ensures the button takes its own line */
  width: 100%; /* Full width for better mobile responsiveness */
  padding: 10px 0;
  margin-top: 15px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}
.register-button:hover {
  background-color: #056fac; /* Darker shade on hover for a subtle effect */
}
